springbootdemos06/springbootdemo551-Jing/file/test01.xml

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">
    <start>
        <ref name="foo.element"/>
    </start>

    <define name="foo.element">
        <element>
            <name ns="">foo</name>
            <group>
                <ref name="bar1.element"/>
                <ref name="bar2.element"/>
            </group>
        </element>
    </define>

    <define name="bar1.element">
        <element>
            <name ns="http://www.example.com/n1">bar1</name>
            <empty/>
        </element>
    </define>

    <define name="bar2.element">
        <element>
            <name ns="http://www.example.com/n2">bar2</name>
            <empty/>
        </element>
    </define>
</grammar>